<html>
  <head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <style type="text/css" id="custom-background-css">
      body { background-color: #0081C3; color: #FFFFFA; }
      #logo { height: 120px; }
      #top-row {padding-top: 30px; }
      .row { padding-top: 20px; }
    </style>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <title>{{title}}</title>
  </head>
  <body>
    <div class="container">
      <div class="row" id="top-row">
        <div class="col-xs-2 col-xs-offset-2">
          <img id="logo" src="/static/logo.png" alt="Logo">
        </div>
        <div class="col-xs-8">
          <h1>World Food Price Tracker</h1>
          <p>Track the prices of food around the world via Twitter</p>
        </div>
      </div>
      <div class="row">
        <form role="form">
          <div class="col-xs-2 col-xs-offset-2">
            <div class="form-group">
              <label for="good">Food</label>
              <select id="good" class="form-control">
                <option>Bread</option>
                <option>Salt</option>
              </select>
            </div>
          </div>
          <div class="col-xs-2">
            <div class="form-group">
              <label for="location">Location</label>
              <select id="location" class="form-control">
                <option>Syria</option>
                <option>Canada</option>
              </select>
            </div>
          </div>
          <div class="col-xs-4">
            <label>Range</label>
            <div>
              <div class="radio-inline">
                <label>
                  <input type="radio" name="rangeRadio" id="range7d" value="7d" checked>
                  7 days
                </label>
              </div>
              <div class="radio-inline">
                <label>
                  <input type="radio" name="rangeRadio" id="range1m" value="1m">
                  1 month
                </label>
              </div>
              <div class="radio-inline">
                <label>
                  <input type="radio" name="rangeRadio" id="range3m" value="3m">
                  3 months
                </label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="row">
        <div id=graph class="col-xs-8 col-xs-offset-2">
        </div>
      </div>
      </div>
      <script type="text/javascript">
        var low = [];
        var mean = [];
        var high = [];
        {% for price in prices %}
          {% if not loop.last %}
            low.push([{{price.low}}, {{prices[loop.index0+1].low}}]);
            mean.push([{{price.mean}}, {{prices[loop.index0+1].mean}}]);
            high.push([{{price.high}}, {{prices[loop.index0+1].high}}]);
          {% endif %}
        {% endfor %}
        var svg = d3.select("#graph").append("svg")
          .attr("width", 700).attr("height", 500);
        var lines = svg.selectAll("line")
        .data(mean).enter().append("line");

        lines.attr("x1", function(d, i) {
          return i*100;
        }).attr("y1", function(d) {
          return 200-d[0]*5;
        }).attr("x2", function(d, i) {
          return 100 + i*100;
        }).attr("y2", function(d) {
          return 200-d[1]*5;
        }).attr("stroke", "white").attr("stroke-width", "2");
      </script>
  </body>
</html>
